extends ../layouts/layoutgame

h1= title

block libs
	script(src='../javascripts/jquery.min.js')
	script(src='../javascripts/socket.io.js')

block script
	// Server
	script(type='text/javascript').

		username = '#{username}'; // all variable might be global so no "var"
		solar_system = !{JSON.stringify(solar_system)};
		for (i in solar_system.users) {
			if (solar_system.users[i].username == '#{username}') {
				player = solar_system.users[i];
				id_user = i;
			}
		}
		//console.log(JSON.stringify(solar_system.users[i], null, 2));

		// start connection to the server
		var socket = io();
		function askUpdate(){
			socket.emit('game', solar_system._id);
		}
		var a;
		function realTime(){
		  a = setInterval(askUpdate, 1000);
		}
		
		function displayMenu(id) {
			player = solar_system.users[id];
			var s1 = '';
			var s2 = '';
			for(i in player.planets) { s1 += '<li class="pure-menu-item list">'+player.planets[i].name+'</li>'; }
			for(i in player.ressources) { s2 += '<li class="pure-menu-item list">'+i+' : '+player.ressources[i]+'</li>'; }
			$('#planets').html(s1);
			$('#ressources').html(s2);
		}
		
		realTime();
		
		socket.on('gameSend', function(new_solar_system){
			solar_system = new_solar_system;
			displayMenu(id_user);
			//console.log(JSON.stringify(player.ressources.kaga, null, 4));
		})
		
	// Phaser
	script(src='../javascripts/phaser/phaser.js')
	script(src='../javascripts/phaser/phaser-plugin-isometric.js')
	script(src='../javascripts/webpd/webpd-latest.js')
	script(src='../javascripts/webpd/pd-fileutils.js')
	script(src='../javascripts/game/db/map.js')
	script(src='../javascripts/game/states/city.js')
	script(src='../javascripts/game/states/planets.js')
	script(src='../javascripts/game/states/attaque.js')
	script(src='../javascripts/game/states/commerce.js')
	script(src='../javascripts/game/game.js')

block content
	img#image
	.pure-g
		.pure-u-4-5#parent
		.pure-u-1-5.pure-menu.custom-restricted-width
				span.pure-menu-heading players
				ul.pure-menu-list#players
					li.pure-menu-item.list #{username}
				span.pure-menu-heading my planets
				ul.pure-menu-list#planets
				span.pure-menu-heading my ressources
				ul.pure-menu-list#ressources

					//li.pure-menu-heading my ressources
					
					
				
				button.pure-button(id="planet" onclick="start('planets');") Planets
				button.pure-button(id="city" onclick="start('city');") City
				br
				button.pure-button(id="attaque" onclick="start('attaque');") Attaque
				br
				button.pure-button(id="commerce" onclick="start('commerce');") Commerce
				script(type="text/javascript").
					document.getElementById('attaque').style.visibility = "hidden";
					
				
				
	// WebPd
	script(src='../javascripts/webpd/loadPatches.js')
	script(type='text/javascript').
		$(function () {
			displayMenu(id_user);
		});
